.favoriteContainear {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #fff;
  right: 0;
  z-index: 100000000;
  top: 69px;
  overflow-y: scroll;
}

.open {
  display: block;
  animation: fav_list_open 0.7s ease-in-out both;
}

.close {
  display: none;
}

.favoriteContainearInfo::after {
  content: "";
  background-color: #333;
  width: 85%;
  margin: 0px 25px 20px;
  height: 2px;
  position: absolute;
}

.favCardInfo {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.favCardImage {
  width: 75px;
  height: 90px;
}

.favCardText {
  color: #333;
  font-size: 15px;
  flex: 1;
}

.cardfavIcon {
  color: #6c7ae0;
}

.favoriteContainearInfo:last-of-type {
  margin-bottom: 80px;
}

@keyframes fav_list_open {
  from {
    opacity: 0;
    right: -300px;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .favoriteContainear {
    width: 45%;
  }
}

@media (max-width: 426px) {
  .favoriteContainear {
    width: 100%;
  }
}
