.productNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 15px 40px;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinksOption {
    position: relative;
    color: #333;
    margin-right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', Poppins-Regular;
    font-size: 1rem;
}

.navLinksOption::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -30px;
    background: #333;
    left: 0;
}

.divButton:hover .navLinksOption:not(.activeNavProduct)::after {
    animation: hoverButton 0.4s 0.1s linear forwards;
}

.NavOptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterButton,
.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 15px;
    width: 100px;
    font-size: 1rem;
    color: #333;
    border-radius: 3px;
    margin-right: 25px;
    cursor: pointer;
    background: #d6d6d6;
}

.filterButton:hover,
.searchButton:hover {
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
    transition: 0.7s all;
}

@keyframes hoverButton {
    from {
        bottom: -30px;
        width: 0;
    }
    to {
        bottom: 0px;
        width: 100%;
    }
}

.productsBody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    margin-top: 35px;
}

.productbody:hover .quickView {
    animation: quickView 0.5s linear forwards;
}

.productbody {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.productImg {
    height: 20rem;
    width: 100%;
}

.quickView {
    color: #000;
    background: #fff;
    width: 168px;
    padding: 16px;
    border-radius: 50px;
    position: absolute;
    left: 16%;
    bottom: -100px;
    text-align: center;
    transition: 0.4s ease-in;
}

.quickView:hover {
    background-color: #333;
    color: #fff;
}

.productTitle {
    margin-top: 15px;
    padding: 1px 15px 15px;
    color: #333;
    margin-bottom: 14px;
}

.productprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 15px 15px;
    color: #333;
}

.favoriteIcon {
    cursor: pointer;
}

.favoriteIcon:hover {
    color: #717fe0;
}

.activeNavProduct {
    border-bottom: 2px solid #333;
}

@keyframes quickView {
    from {
        bottom: -200px;
    }
    to {
        bottom: 144px;
    }
}


/* @media (max-width: 786px) {
    .productNav {
        display: none;
    }
} */