.blogHeaderTitle {
    font-size: 5vh;
    color: #fff;
    font-family: 'Poppins', Poppins-Bold;
    font-weight: bold;
}

.blogSection {
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    padding-bottom: 60px;
}

.blogSectionRight {
    flex: 0 0 66.666667;
    max-width: 66.666667%;
    padding: 0 15px;
    margin-right: 15px;
    width: 100%;
}

.sectionContainear {
    padding-right: 0;
}

.arrg {
    margin-bottom: 60px;
}

.sectionContainearImages {
    overflow: hidden;
}

.ImageSrc {
    width: 100%;
}

.itemInfo {
    padding-top: 30px;
}

.itemInfoTitles {
    padding-bottom: 15px;
    font-family: 'Poppins', Poppins-Bold;
    font-weight: bold;
    font-size: 3vh;
    color: #333;
}

.itemInfoTexts {
    color: #888;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.itemInfoDesc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    color: #333;
}

.by {
    color: #888;
}

.searchContainear {
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar {
    padding: 20px;
    border-radius: 45px;
    border: none;
    color: #333;
    border: 1px solid #e6e6e6;
    outline: none;
    font-size: 15px;
    width: 100%;
    height: 50px;
}

.searchIcon {
    color: #333;
    font-size: 18px !important;
    left: 191px;
    position: absolute;
}

.categoryContainear {
    padding: 10px;
    margin-top: 15px;
}

.categoryTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.catListItems {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 20px;
    transition: 0.9s all;
    cursor: pointer;
}

.catListItems:hover {
    transform: translateX(10px);
    color: #6c7ae0;
}

.ArchiveContainear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 20px;
    transition: 0.9s all;
    cursor: pointer;
}

.ArchiveContainear:hover {
    transform: translateX(10px);
    color: #6c7ae0;
}

@media (max-width: 768px) {
    .blogSectionRight {
        max-width: 100%;
    }
    .blogSectionLeft {
        width: 100%;
    }
    .searchIcon {
        left: 95%;
    }
}

@media (max-width: 426px) {
    .searchIcon {
        left: 90%;
    }
    .itemInfoTitles {
        font-size: 2vh;
    }
}

@media (max-width: 376px) {
    .searchIcon {
        left: 85%;
    }
}